<a href="https://colab.research.google.com/github/hBar2013/DS-Unit-2-Regression-1/blob/master/module4-understanding-ols/kim_lowry_understanding_OLS_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Fit a linear regression model with 2+ features of your choice. Get and plot the coefficients.
- Use train-test split or leave-one-out cross-validation to get regression metrics: MSE, RMSE, MAE, R^2.
- Visualize the plane of best fit in 3D, with 2 features.
- Write a short, simple blog post about your elections model. (Or about your pageviews model, whichever you prefer!)
- AWESOME BUT DIFFICULT STRETCH GOAL: In your 3D visualization, can you include the actual datapoints, like in this notebook? https://nbviewer.jupyter.org/urls/s3.amazonaws.com/datarobotblog/notebooks/multiple_regression_in_python.ipynb Can you also include the residual lines from the datapoints to the plane of the best fit, like in _An Introduction to Statistical Learning?_ (edited)

In [0]:
import pandas as pd

columns = ['Year','Incumbent Party Candidate','Other Candidate','Incumbent Party Vote Share']

data = [[1952,"Stevenson","Eisenhower",44.6],
        [1956,"Eisenhower","Stevenson",57.76],
        [1960,"Nixon","Kennedy",49.91],
        [1964,"Johnson","Goldwater",61.34],
        [1968,"Humphrey","Nixon",49.60],
        [1972,"Nixon","McGovern",61.79],
        [1976,"Ford","Carter",48.95],
        [1980,"Carter","Reagan",44.70],
        [1984,"Reagan","Mondale",59.17],
        [1988,"Bush, Sr.","Dukakis",53.94],
        [1992,"Bush, Sr.","Clinton",46.55],
        [1996,"Clinton","Dole",54.74],
        [2000,"Gore","Bush, Jr.",50.27],
        [2004,"Bush, Jr.","Kerry",51.24],
        [2008,"McCain","Obama",46.32],
        [2012,"Obama","Romney",52.00], 
        [2016,"Clinton","Trump",48.2]]
        
votes = pd.DataFrame(data=data, columns=columns)

In [0]:
columns = ['Year','Average Recent Growth in Personal Incomes']

data = [[1952,2.40],
        [1956,2.89],
        [1960, .85],
        [1964,4.21],
        [1968,3.02],
        [1972,3.62],
        [1976,1.08],
        [1980,-.39],
        [1984,3.86],
        [1988,2.27],
        [1992, .38],
        [1996,1.04],
        [2000,2.36],
        [2004,1.72],
        [2008, .10],
        [2012, .95], 
        [2016, .10]]
        
growth = pd.DataFrame(data=data, columns=columns)

In [0]:
columns = ['Year','US Military Fatalities per Million']

data = [[1952,190],
        [1956,  0],
        [1960,  0],
        [1964,  1],
        [1968,146],
        [1972,  0],
        [1976,  2],
        [1980,  0],
        [1984,  0],
        [1988,  0],
        [1992,  0],
        [1996,  0],
        [2000,  0],
        [2004,  4],
        [2008, 14],
        [2012,  5], 
        [2016,  5]]
        
deaths = pd.DataFrame(data=data, columns=columns)

In [0]:
columns = ['Year','Incumbent Party Congressional Representation']

data = [[1952,0.540],
        [1956,0.467],
        [1960,0.351],
        [1964,0.570],
        [1968,0.430],
        [1972,0.414],
        [1976,0.331],
        [1980,0.639],
        [1984,0.382],
        [1988,0.407],
        [1992,0.384],
        [1996,0.469],
        [2000,0.513],
        [2004,0.471],
        [2008,0.464],
        [2012,0.444], 
        [2016,0.432]]
        
house = pd.DataFrame(data=data, columns=columns)

In [0]:
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=UNRATE&scale=left&cosd=1948-01-01&coed=2019-04-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2019-05-30&revision_date=2019-05-30&nd=1948-01-01'
unemployment = pd.read_csv(url, parse_dates=['DATE'])

# Annual average unemployment, only using the first 10 months of the year
# (because presidential elections are in November)
unemployment = (unemployment
                .where(unemployment.DATE.dt.month <= 10)
                .set_index('DATE')
                .resample('A')
                .mean()
                .reset_index()
                .rename(columns={'DATE': 'Year', 'UNRATE': 'Unemployment Rate'}))

unemployment['Year'] = unemployment['Year'].dt.year

In [0]:
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=GDPC1&scale=left&cosd=1947-01-01&coed=2019-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Quarterly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2019-05-30&revision_date=2019-05-30&nd=1947-01-01'

gdp = pd.read_csv(url, parse_dates=['DATE'])
gdp = (gdp
       .where(gdp.DATE.dt.month==7)
       .rename(columns={'DATE': 'Year', 'GDPC1': 'GDP Q3'}))

gdp['Year'] = gdp['Year'].dt.year

In [0]:
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=A191RL1Q225SBEA&scale=left&cosd=1947-04-01&coed=2019-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Quarterly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2019-05-30&revision_date=2019-05-30&nd=1947-04-01'

gdp_change = pd.read_csv(url, parse_dates=['DATE'])
gdp_change = (gdp_change
              .where(gdp_change.DATE.dt.month==7)
              .rename(columns={'DATE': 'Year', 'A191RL1Q225SBEA': 'GDP Change Q3'}))

gdp_change['Year'] = gdp_change['Year'].dt.year

In [0]:
df = (votes
      .merge(growth)
      .merge(deaths)
      .merge(house)
      .merge(unemployment)
      .merge(gdp)
      .merge(gdp_change))

In [11]:
df.head()

   Year Incumbent Party Candidate  ...    GDP Q3  GDP Change Q3
0  1952                 Stevenson  ...  2564.401            2.9
1  1956                Eisenhower  ...  2925.035           -0.4
2  1960                     Nixon  ...  3274.029            2.0
3  1964                   Johnson  ...  3954.121            6.4
4  1968                  Humphrey  ...  4825.799            3.1

[5 rows x 10 columns]

In [0]:
df['True Incumbent'] = ((df['Incumbent Party Candidate'] == df['Incumbent Party Candidate'].shift(1)) | 
                        (df['Incumbent Party Candidate'] == df['Other Candidate'].shift(1)))
df['True Incumbent'] = df['True Incumbent'].astype(int)

In [13]:
df.head()

   Year Incumbent Party Candidate  ... GDP Change Q3  True Incumbent
0  1952                 Stevenson  ...           2.9               0
1  1956                Eisenhower  ...          -0.4               1
2  1960                     Nixon  ...           2.0               0
3  1964                   Johnson  ...           6.4               0
4  1968                  Humphrey  ...           3.1               0

[5 rows x 11 columns]

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
model = LinearRegression()

In [0]:
features = ['Average Recent Growth in Personal Incomes', 'Incumbent Party Congressional Representation']
target = 'Incumbent Party Vote Share'

In [0]:
train = df.query('Year < 2008')
test  = df.query('Year >= 2008')
X_train = train[features] 
y_train = train[target]
X_test  = test[features]
y_test  = test[target]

In [30]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
y_pred = model.predict(X_test)

y_pred

array([46.08780013, 48.93523847, 46.33992835])

In [32]:

y_test

14    46.32
15    52.00
16    48.20
Name: Incumbent Party Vote Share, dtype: float64

In [0]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [0]:
import numpy as np

In [0]:
mse = mean_squared_error(y_test, y_pred)

In [47]:
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R^2:', r2)

Mean Squared Error: 4.302182188676654
Root Mean Squared Error: 2.0741702410064256
Mean Absolute Error: 1.7190110175349933
R^2: 0.2292574427891525